blinker==1.9.0
click==8.1.8
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
greenlet==3.2.1
SQLAlchemy==2.0.40
cloudinary==1.36.0
requests==2.32.3
python-dotenv==1.0.0  # Opcional: se estiver usando variáveis de ambiente
Flask-Migrate==4.1.0
